<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Notes App</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'notes_app/css/style.css' %}">
    <script src="{% static 'notes_app/js/script.js' %}"></script>
</head>
<body>
     <div class="container">
        <header class="header">
            <h1 class="header__header">Notes app</h1>
        </header>

        <div class="create">
            Buttons will be here...
        </div>

        </div>

         <nav class="navigation">
             <button class="navigation__button navigation__button--notes"
                     onclick="window.location.href='{% url 'home' %}'">
                 Notes
             </button>

             <button class="navigation__button navigation__button--create-note"
                     onclick="window.location.href='{% url 'create_note' %}'">
                 Create Note
             </button>
         </nav>

    </div>
</body>
</html>