<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Notes App</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'notes_app/css/style.css' %}">
    <script src="{% static 'notes_app/js/script.js' %}"></script>
</head>
<body>
     <div class="container">
        <header class="header">
            <h1 class="header__header">Notes app</h1>
        </header>

        <div class="notes">
            {% if notes %}

            <div class="notes__note notes__note--count">
                <span class="notes__text">Notes</span>
                <span class="notes__count">{{ notes|length }}</span>
            </div>

            {% for note in notes %}
                <div class="notes__note">
                    <h3>{{ note.title }}</h3>
                    <p>{{ note.text }}</p>
                    <p><strong>Reminder:</strong> {{ note.reminder }}</p>
                </div>
            {% endfor %}

            {% else %}
                <p>No notes available.</p>
            {% endif %}

        </div>
    </div>
</body>
</html>